<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caston.back.mapper.QuestionMapper">
    <select id="getQuestionList" resultType="com.caston.back.domain.Question">
        select *
        from question_tb
    </select>

    <select id="getQuestionById" resultType="com.caston.back.domain.Question">
        select *
        from question_tb
        where q_dtt = #{q_dtt}
    </select>

    <select id="getMyQuestionList" resultType="com.caston.back.domain.Question">
        select q_dtt, q_content, q_cat, q_group, u_id
        from question_tb
        where u_id = #{u_id}
    </select>

    <insert id="insertQuestion">
        insert into question_tb values (systimestamp, #{q_content},#{q_cat},#{q_group},#{u_id});
    </insert>
</mapper>